@font-face {
    font-family: 'LCARS';
    src: url('../fonts/lcars.ttf') format('truetype');
}

.App {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", -apple-system, sans-serif !important;
}

.data-grid {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 0;
    position: relative;
}

.tab-panel {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 130px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 0;
    position: relative;
}

.embedded-crew-grid {
    -webkit-overflow-scrolling: touch;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 0;
    position: relative;
}

.skill-stats-div {
    text-align: center;
}

.skill-stats {
    font-size: small;
    font-weight: bold;
}

.skill-stats-range {
    font-size: x-small;
}

.quest-mastery {
    display: inline-flex;
}

.groupHeader {
    font-size:x-large;
}

.itemHeader {
    font-size: large;
}

.groupHeaderDescriptiom {
    font-size:medium;
}

.CalloutQuest {
    display: inline-block;
}

.CalloutQuest-buttonArea {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.CalloutQuest-callout {
    max-width: 350px;
}

.ms-CalloutExample-title {
    font-size: x-large;
}

.ms-CalloutExample-inner {
    height: 100%;
    padding: 0 24px 20px;
}

.ms-CalloutExample-header {
    padding: 18px 24px 12px;
}

.ms-CalloutExample-title {
    margin: 0;
    font-size:large;
}

.ms-CalloutExample-subText {
    margin: 0;
    font-size:small;
}

.starbase-room {
    display: inline-flex;
    vertical-align:middle;
}

.starbase-room-name {
    padding-top: 12px;
}

.lcars {
    font-family: LCARS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    display: flex;
    margin-bottom: 2px;
    align-items: center;
}

.lcars-content {
    flex-shrink: 0;
    box-sizing:border-box;
}

.lcars-content-text {
    flex-shrink: 0;
    box-sizing: border-box;
    margin-top: 2px;
}

.lcars-corner-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #0078d7;
    width: 20px;
    height: 25px;
    margin-right: 3px;
    flex-shrink: 0;
}

.lcars-corner-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #0078d7;
    width: 20px;
    height: 25px;
    margin-left: 3px;
    flex-shrink: 0;
}

.lcars-ellipse {
    background: #0078d7;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    flex-shrink: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.lcars-box {
    background: #0078d7;
    flex: 1 1 100%;
    height: 25px;
    margin-left: 3px;
    margin-right: 3px;
}